<nav>
<%= link_to "Edit", edit_picture_path(@picture) %> | <%= link_to "Delete", @picture, :confirm => "Are you sure you want to delete this picture?", :method => :delete %>
</nav>
<legend><%= @picture[:title] %>, <%= @picture[:artist] %></legend>
<div class="back">
	<img src="<%= @picture[:url] %>">
</div>