<div id="container">
	<nav>
		<%= link_to "home", "/" %> | 
		<%= link_to "New Picture", "/pictures/new" %> | 
		<%= link_to "Login", signin_path %> | 
		<%= link_to "Logout", signout_path %> | 
		<%= link_to "Subscribe", signup_path %>
	</nav>